body {
  font-family: Arial, sans-serif;
  background-color: #1f242d;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #08ef;
  border-radius: 10px;
  background-color: #08ef;
}

.voltarboleto{
  margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #08ef;
    text-decoration: none;
}

.voltarboleto:hover{
  color: black;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

.payment-code {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #08ef;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.payment-instructions {
  margin-top: 20px;
  color: #fff;
}

.payment-instructions p {
  margin-bottom: 10px;
}

.payment-amount {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

.payment-amount input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  background-color: #08ef;
}

.payment-button {
  text-align: center;
  margin-top: 20px;
}

.payment-button button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #08ef;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group{
  margin-bottom: 20px;
}

.payment-button button:hover{
  color: red;
}