body{
     
    background-color:  #002b46;
    box-sizing: border-box;
    align-items: center;
 }
 main{
    align-items: center;
 }

.container{
    max-width: 500px;
    background-color: #002b46;
    color: #fff;
    font-size: 15px;
    padding: 2em;
    margin: 2em;
    border: solid 3px #08ef ;
    border-radius: 15px;
}
     

.form{
    color: white;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
   
   
}

.titulo{
    border: none;
    border-radius: 10px;
    background-color: #08ef;
    color: white;
    padding: 10px;
}

.form textarea{
    border: none;
    border-radius: 10px;
    background-color: #08ef;
    color: white;
    padding: 80px;
    font-weight: bolder;
   
    
    
}
.button{
    border-radius: 10px;
    background-color: #08ef;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px #08ef;
    color: white;
    cursor: pointer;
}
.button:hover{
    color: black;
}

a{
    text-decoration: none;
    color: white;
    padding: 0;
}
a:hover{
    color: black;
}

h1{
	color:white;
    font-size: 2.3em;
    font-weight: 900;
}
h2{
    color: #eee;
    font-size: 1.6em;
}