body {
    background-color:#1f242d;
    /* background-color: #004269; */
    font-family: Arial, sans-serif;
}

h1 {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #004269;
    border: 2px solid #004269;
    border-radius: 10px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;

}

input[type="text"],
input[type="date"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #08ef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

input[type="submit"]:hover {
    color: black;
}

