body{
    background-color:#002b46;
    }
    
    .item-details{
        color: white;
        font-size: 20px;
        
    }
    h2{
        color: white;
    }
    .profile{
        height: 200px;
        width: 200px;
        border: solid 3px #08ef;
        border-radius: 50%;
    }
    
    .alterar{
     background-color: #08ef;
     text-decoration: none;
     color: white;
    }
    
    button{
        background-color: #08ef;
        border: none;
        border-radius: 30px;
        padding: 10px;
        margin-top: 10px;
    }
    .alterar:hover{
        color: black;
    }