/* Estilos para a tela de perfil de usuário */
body{
    background-color: black;
    margin: 30px;
    background-color: #002b46;
    box-sizing: border-box;

}
.profile-card {
	background-color: #002b46;
	border-radius: 5px;
	box-shadow: 0 2px 10px #08ef;
	padding: 20px;
	max-width: 600px;
	margin: 0 auto;
	color: #fff;
}

.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-header h1 {
	font-size: 2em;
	margin-top: 0;
}

.profile-header h2 {
	font-size: 1.5em;
	margin: 0;
}

.profile-header img {
	border-radius: 50%;
	max-width: 200px;
	margin: 20px 0;
}

.profile-info {
	margin-top: 50px;
}

.profile-info h3 {
	font-size: 1.2em;
	margin-bottom: 20px;
}

.profile-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.profile-info li {
	margin-bottom: 10px;
}

.profile-info li strong {
	display: inline-block;
	width: 100px;
}