
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color:  #1f242d;
        }
        
        .card-login {
            background-color: #002b46;
            border-radius: 5px;
            padding: 60px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        h1, .email{
            color: white;
        }
        
        .titulo {
            text-align: center;
            font-size: 20px;
            margin-bottom: 20px;
        }
        
        .textfield {
            margin-bottom: 15px;
        }
        
        .email {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        input[type="email"] {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        
        .btn-login {
            display: block;
            width: 100%;
            background-color: #08ef;
            color: #fff;
            padding: 10px;
            text-align: center;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .btn-login a{
            text-decoration: none;
            color: white;
        }
        
        .btn-login:hover {
            background-color:rgba(0, 135, 238, 0.676);
        }
        a:hover{
            background-color:rgba(0, 135, 238, 0.676);
        }
    