* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
   background-color: #1f242d;
   color: #fff;
}

.header {
   width: 100% auto;
   padding: 20px 10%;
   background: #1f242d;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
   animation: slideRight 1s ease forwards;
   max-width: 150px;
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   padding: 3px;
   background-color: #08ef;
}

.navbar {
  display: flex;
  
}

.navbar a {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.5em;
   color: #fff;
   text-decoration: none;
   margin: 0 15px;
   transition: -7s;
   animation: slideTop 3s ease forwards;
}

.navbar a:hover {
   color: #08ef;
}

section{
	width: 100%;
	height: 100vh; 
	overflow: hidden;
}

.box{
   margin-top: 150px;
   display: flex;
   width: 100%;
   height: 100vh;
   
}

.box-image img{
   width: 100em;
   height: 500px;
   animation: anima;
   animation-duration: 800ms;
}

@keyframes anima{

    from{transform: translate(-50px,00);}
    to{transform: translate(0px,00);}
}

/*Parte dos filmes*/
.container-filme{
  padding: 20px;
}

.container-galeria {
  margin-top: 20px;
}

.categoria {
  margin-bottom: 20px;
}

.categoria h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filme-carousel {
   display: flex;
   overflow: hidden;
   scroll-snap-type: x mandatory;
   justify-content: space-between;

   align-items: center;
}


.filme-item {
   width: 15em;
   height: 22em;
   transition: .2s;
   padding: 1.5em;
}

.filme-item img {
   width: 130%;
   height: 20em;
   object-fit: cover;
   border-radius: 10px;
   flex-wrap: wrap;
}

.filme-item:hover {
   transform: scale(1.1);
}

/*Fim parte dos filmes*/

/*Animação*/

@keyframes slideRight {
   0% {
      transform: translateX(-100px);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 10;
   }
}

@keyframes slideTop {
   0% {
      transform: translateX(100px);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 10;
   }
}

@keyframes slideBotton {
   0% {
      transform: translateX(-100px);
      opacity: 0;
   }

   100% {
      transform: translateX(0);
      opacity: 10;
   }
}

@keyframes foto {
   0% {
      transform: scale(0);
      opacity: 0;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}
/* <!-- INICIO TELA COLECIONÁVEIS --> */
section {
   font-family: Arial, sans-serif;
   background-color:#1f242d ;
   margin: 0;
   padding: 0;
   justify-content: center;
 }
 
 .compras {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
    
 }
 h1{
   font-size: 30px;
 }
 h1, p {
   text-align: center;
   color: #fff;
 }

 p{
   font-size: 20px;
 }
 
 .product-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
    
 }
 
 .product-item {
   width: calc(33.33% - 20px);
   margin-bottom: 20px;
   border: 2px solid #fff;
   border-radius: 20px;
   padding: 20px;
   background-color:#08ef;
 }
 
 .product-item img {
   max-width: 50%;
   margin-bottom: 10px;
   border-radius: 10px;
   
 }
 
 .product-item .title {
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 10px;
 }
 
 .product-item .price {
   font-size: 14px;
   color:black;
   margin-bottom: 10px;
 }
 
 .product-item .description {
   font-size: 14px;
 }


 .checkout-btn {
   
   width: 50%;
   padding: 20px;
   background-color:#08ef;
   color: rgb(255, 255, 255);
   text-align: center;
   text-decoration: none;
   border-radius: 20px;
   font-size: 18px;
   margin-top: 20px;
   
 }

 .checkout-btn:hover{
     color:red;

 }
 /* FIM TELA COLECIONÁVEIS */
/* INICIO DOBRA TUTOR */
footer {
   background-color:#1f242d;
   color: rgb(255, 255, 255);
   padding: 10px 0;
   font-size: 30px;
}

h3, h5{
   color: rgb(255, 255, 255);
   margin-bottom: 20px;
}

h5{
   font-size: 25px;
}

.rodapeinicio {
   max-width: 2000px;
   margin: 0 auto;
}

.rodapesocial{
   text-align: center;
   margin-bottom: 50px;
}

.social {
   display: inline-block;
   font-size: 24px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   transition: color 0.3s ease;
   padding: 4px;
}

.social:hover {
   color: red;
}

.rodapefim {
   background-color: #08ef;
   padding: 5px 0;
   text-align: center;
   font-size: 18px;
   margin-top: 100px;
}

.rodapefim p {
   margin: 0;
}

.botaorodape{
   background-color: #08ef;
   border-radius: 10px;
   padding: 3px;
   margin-right: 50px;
   border: none;
}

/* FIM DOBRA TUTOR */

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
   .header {
      flex-direction: column;
   }

   .navbar {
      justify-content: center;
      margin-top: 10px;
   }

   .navbar a {
      margin: 0 10px;
   }

   .box-image img {
      max-height: 300px;
   }

  .container-filme {
    padding: 10px;
  }

  .categoria h2 {
    font-size: 20px;
  }

  .filme-item {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .filme-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  .filme-carousel {
    scroll-snap-type: none;
    overflow-x: scroll;
  }
}


