body{
    background-color: #004269;
}

h3{
    color: #fff;
    font-size: 25px;
}
.container {
    
    font-size: 20px;
}

fieldset {
    margin-top: 10px;
    padding: 10px;
    border: 3px solid #08ef;
    border-radius: 10px;
    width: 800px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.legendaperfil{
    text-align: left;
    margin-left: 190px;
    color: black;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 5px;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="file"],
input[type="tel"] {
    width: 200px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.inputBox {
    margin-bottom: 5px;
}


fieldset .inputBox {
            display: flex;
            align-items: center;
        }

fieldset .inputBox label {
            flex-basis: 30%;
        }

fieldset .inputBox input[type="text"],
fieldset .inputBox input[type="date"],
fieldset .inputBox input[type="email"],
fieldset .inputBox input[type="password"],
fieldset.inputBox input[type="radio"],
fieldset .inputBox select {
            flex-basis: 50%;
            margin-left: 5px;
             
        }
    


.botao {
    margin-top: 0px;
    background-color: #08ef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.botao:hover {
    color: black;
}


