 body{
    background-color: #1f242d;
    align-items: center;
 }
 main{
     align-items: center;
 }
.form{
    color: white;
    display: flex;
    border: none;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
   
}
.form textarea{

    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #08ef;
    background-color: #08ef;
    color: white;
    padding: 80px;
    
}
button{
    border-radius: 20px;
    background-color: #08ef;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px #08ef;
}
p{
	color:white;
    font-size: 20px;
}