<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/style_shop.css">
    <title>Detalhe do Item</title>
</head>
<body>
<div div="all">
    <header>
        <div class="header__logo">
            <img src="../../../public/assets/free Delivery.png" alt="">
        </div>
        <div class="header__menu">
            <div class="header__menu--left">
                <nav>
                    <div class="header__menu--input">
                        <input type="text" name="movie-name" id="movie-name" placeholder="Digite algum filme para pesquisar...">
                        <img src="../../../public/assets/avaliacao/search-icon.svg" alt="Ícone de pesquisa" class="searchIcon">
                    </div>
                    <a href="">Inicio</a>
                    <a href="">Filmes</a>
                </nav>
            </div>
            <div class="header__menu--right">
                <nav>
                    <a href=""><i class="fas fa-bell"></i></a>
                    <a href="" class="header__user">
                    <img src="../../../public/assets/pessoas/pic-1.png" alt="Avatar usuário" />
                        <i class="fas fa-sort-down"></i>
                    </a>
                </nav>
            </div>
        </div>
    </header>
    <main class="details">
        <h1>Detalhe Item</h1>
        <section class="details__container">
            <div class="details__item">
                <div class="details__item--left">
                    <img src="" alt="" class="image">
                    <p class="price">Preço <i class="fas fa-brazilian-real-sign"></i></p>
                    <p class="qtd-name">Quantidade para Compra: 
                        <input type="number" name="qtd_compra" required min="1" max="99" maxlength="2" class="qtd">
                        <button type="submit" name="atualizar_car" class="fas fa-edit"></button>
                    </p>
                    <p class="grand-total">Valor Total : <span><i class="fas fa-brazilian-real-sign"></i>Total</span></p>
                </div>
                <div class="details__item--right">
                    <h2>Nome Item</h2>
                    <p>Descrição Item</p>
                    <p>Quantidade em Estoque:</p>
                    <div class="details_compra">
                        <input type="submit" name="item_adicionado" value="Adicionar Carrinho" class="submit">
                        <a href="carrinho.html">Comprar Agora</a>
                    </div>
                </div>
            </div>
        </section>
        <!--Sessão Avaliação-->
        <section>
            <div class="title-ava">
                <h1>Avaliação</h1>

            </div>
        </section>
    </main>
</div>
</body>
</html>
